/* EasyBay YellowBelt Examination */

/* CSS Reset */

* {
     margin: 0px;
     padding: 0px;
     font-family: Roboto sans-serif;
}

/* Top Navbar CSS */

.colorscheme {
     background-color: turquoise;
     color: white;
}
.title{
     align-items: center;
     text-align: center;
}
.topnav {
     display: flex;
     flex-direction: row;
     gap: 30px;
     justify-content: space-evenly;
     margin-left: 20px;
     margin-right: 20px;
     padding: 20px;
     align-items: center;
     font-size: 24px;
}
.search{
     width: 450px;
     height: 30px;
     border-radius: 33%;
     padding: 10px;
     font-size: 24px;
}
.plants {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     gap: 30px;
     font-size: 24px;
     border-bottom: 3px solid black;
     margin-left: 20px;
     margin-right: 20px;
     padding: 20px;
}

/* Cookie CSS (since it's fixed you can do it now, won't interfere with the rest anyways */

.cookie {
     margin-left: 20px;
     margin-right: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: whitesmoke;
     border: 2px solid black;
     gap: 15px;
     padding: 15px;
     position: fixed;
     bottom: 25px;
     font-size: 24px;
}
.cookieAccept{
     border: 2px solid black;
     background-color: turquoise;
     color: white;
     box-shadow: 0px 10px 15px 0px black;
     width: 150px;
     padding: 3px;
     font-size: 24px;
}

/* Primary Flex Container */

.maintitle {
     text-align: center;
     align-items: center;
     margin-left: 30px;
     margin-right: 30px;
     padding: 10px;
     font-size: 50px;
     margin-bottom: 20px;
     border-bottom: 2px dotted lightslategrey;
}

.flexcontainer{
     display: flex;
     flex-direction: row;
     margin-left: 20px;
     margin-right: 20px;
     padding: 20px;
     align-items: center;
     font-size: 30px;
}

.column1{
     display: flex;
     flex-direction: row;
     flex: 3;
     align-items: center;
     text-align: center;
}
.discover{
     align-items: center;
     text-align: center;
     height: 400px;
     width: 200px;
     padding-top: 10px;
     padding-bottom: 10px;
}
.column2{
     flex: 2;
     margin-left: 10px;
     align-items: center;
     text-align: center;
     height: 400px;
}

.discover2{
     margin-top: 20px;
     height: 70px;
     padding-top: 30px;
     font-weight: bold;
     font-size: 30px;
}

.footer{
     background-color: aquamarine;
     margin-top: 20px;
     align-items: center;
     text-align: center;
     padding: 30px;

}
.planticons {
     border-radius: 50%;
     height: 120px;
     margin-bottom: 20px;
}
.bottomnav{
     display: flex;
     flex-direction: row;
     gap: 30px;
     margin-left: 20px;
     margin-right: 20px;
     justify-content: space-evenly;
     height: 250px;
     align-items: center;
     color: black;
     text-align: center;
     font-size: 24px;
}
.plantItem{
     flex: 1;
     text-align: center;
     padding: 10px;
}

/* Go back up and consider places to neaten it up / have minimal repeating lines of code. Job well done buddy */