<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> View Users </title>
</head>
<body>
     <h1 class="center"> Here are our users: </h1>
     <table class="table">
          <tr>
               <th> First Name: </th>
               <th> Last Name: </th>
               <th> Email: </th>
               <th> Created At: </th>
          </tr>
          <tbody>
               {% for user in users %}
               <tr>
                    <td> {{ user.first_name }} </td>
                    <td> {{ user.last_name }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.created_at }} </td>
               </tr>
               { % endfor %}
          </tbody>
     </table>
     <a href="/user/new" class="adduser"> Add a User:</a>
</body>
</html>