<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <title> Playground </title>

     <!-- I WILL NEVER INLINE STYLE LOL -->
     <style>
          .multiple_Box {
               background-color: {{color}};
          }
     </style>

</head>
<body>
     <div class="color1">
          <h1> Welcome to Playground </h1>
     </div>

     <div class="box1">
          {% for box in range (0, repeat) %}
               <div class="multiple_Box"></div>
          {% endfor %}
     </div>
</body>
</html>