div{
    border: 1px solid black;
    padding: 10px;
    color:blue;
}

.section{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* align acts along the opposite axis as the flex direction */
}

.navItem{
    flex:1;
    /* width: 25%;*/
}

.specialnavItem{
    flex:4;
}

.section2{
    display:flex;
    flex-direction:row;
}

.leftContent{
    flex: 1;
}

.rightContent{
    flex: 3;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
}
.menuItem{
    text-align:center;
}
.contentItem{
    width:25%;
    margin:5px;
}