<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename=style.css')}}">
     <title> Counter Assignment </title>
</head>
<body>
     {{%session["one"]%}}
     <button>
          <a href="/"> +1 </a>
     </button>

     <button>
          <a href="/destroy_session"> DESTROY SESSION </a>
     </button>

     <button>
          <a href="/add_more"> +2 </a>
     </button>
<script src="../static/index.js"></script>
</body>
</html>